:root {
    --accent-color: #e5857b;
    --color1: #eaebf2;
    --color2: #ffffff;
    --text-color: #000;
    --text-alternative: #f46060;
    --text-secondary: #ed7e7ed6;
    --border-color: #f3c8c4;
}