:root {
    --color1: #1a2234;
    --color2: #1d273b;
    --border-color: #243049;
    --accent-color: #3992d0;
    --text-color: #fff;
    --text-alternative: #75a8ef;
    --text-secondary: rgba(255, 255, 255, .4);
    --red: #E74C3C;
    --blue: #3992D0;
    --green: #2ECC71;
    --cyan: #39fff8;
    --radius: 2px;
    --transition: 200ms;
    --hr-color: rgba(255, 255, 255, 0.2);
}
