{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page_title | default:"Skwal" }}</title>
    <meta name="description" content="{{ page_description | default:"We want to create a welcoming and caring place for everyone to discover cool &amp; interesting things, share their knowledge, ideas, and creations. Skwal.net is a forum about programming but you can find content on other domains." }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='icon' type='image/ico' href="{% vstatic 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% vstatic 'css/vars.css' %}">
    <link rel="stylesheet" href="{% vstatic 'css/base.css' %}">
    <link rel="stylesheet" href="{% vstatic 'css/global.css' %}">
    <link rel="stylesheet" href="{% vstatic 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% vstatic 'css/footer.css' %}">
    <link rel="stylesheet" href="{% vstatic 'css/utils.css' %}">
    <link rel="stylesheet" href="{% vstatic 'css/text-utils.css' %}">
    <link rel="stylesheet" href="{% vstatic 'css/forms.css' %}">
    <link rel="stylesheet" href="{% vstatic 'css/prism.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toasteur@0.5.0/dist/themes/toasteur-default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toultip@v0.2.1/dist/themes/toultip-default.min.css">
    {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="/static/css/{{ stylesheet }}.css">
    {% endfor %}

</head>

<body>
    <div id="navbar-container">
        <div id="navbar">
            <div id="navbar-top">
                <img toultip="Right click to copy website url" href="/" id="navbar-logo" src="{% vstatic 'img/logo.png' %}" alt="skwal.net logo">
                <div onclick="toggleButtons()" id="navbar-menu-button"><i class="fas fa-bars"></i></div>
            </div>
            <div id="navbar-buttons" data-active="false">
                {% for button in nav_buttons reversed %}
                    <div href="{{ button.href }}" class="navbar-button"><i class="{{ button.icon }}"></i><p>{{ button.text }}</p></div>
                {% empty %}
                    <div href="{% url 'home' %}" class="navbar-button"><i class="fa fa-home"></i><p>Home</p></div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="page-body-container">
        <div id="page-body" {% if small_body %}data-small='true'{% endif %}>
            {% if headers|length > 0 %}
                {% for header in headers %}
                    {{ header | safe }}
                {% endfor %}
            {% endif %}
            <div id="page-content-container" {% if inverse_sidebar %}data-inverse='true'{% endif %}>
                <div id="page-content">
                    {% block body %}<h1 class="box">Base template</h1>{% endblock body %}
                </div>
                {% if not no_sidebar  %}
                    <div id="page-sidebar">
                        {% block sidebar %}
                        <h1 class="box">Base template</h1>
                        {% endblock sidebar %}
                    </div>
                {% endif %} 
            </div>
        </div>
    </div>


    <div id="footer">
        <p>© 2018-{% now "Y" %}, Léopold Koprivnik, all rights reserved</p>
        <p>This website is open source and is available on <a href="https://github.com/SkwalExe/skwal-net-v2">GitHub</a></p>
        <div class="flex separated h-center wrap">
            <p>support@skwal.net</p>
            <p>+33 9 55 70 80 52</p>
        </div>
        <div class="flex separated h-center wrap" id="footer-links" style='margin-top:10px'>
            <a href="/docs">📚 Documentation</a>
            <a href="/">🤔 About us</a>
            <a href="/cookies">🍪 Cookies policy</a>
            <a href="/privacy">🔒 Privacy policy</a>
            <a href="/tos">📜 Terms of Service</a>
            <a href="/credits">🙏 Credits and thanks</a>
            <a href="https://status.skwal.net">📊 Status page</a>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/2fd86e1bdd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/SkwalExe/Toasteur.js@v0.5.0/dist/toasteur.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/SkwalExe/Toultip.js@v0.2.1/dist/toultip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/SkwalExe/MessageBox.js@v0.4.0/dist/messagebox.min.js"></script>
    <script src="{% vstatic 'js/functions.js' %}"></script>
    <script src="{% vstatic 'js/global.js' %}"></script>
    <script src="{% vstatic 'js/links.js' %}"></script>
    <script src="{% vstatic 'js/navbar.js' %}"></script>
    <script src="{% vstatic 'js/prism.min.js' %}"></script>
    {% for script in scripts %}
        <script src="/static/js/{{ script }}.js"></script>
    {% endfor %}
</body>

</html>