{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block page_title %}skwal.net{% endblock page_title %}</title>
    <meta name="description" content="{% block page_description %}skwal.net{% endblock page_description %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/vars.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <link rel="stylesheet" href="{% static 'css/markdown.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toasteur@0.5.0/dist/themes/toasteur-default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toultip@v0.2.1/dist/themes/toultip-default.min.css">
    {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="/static/css/{{ stylesheet }}.css"> 
    {% endfor %}

</head>

<body>
    <div id="navbar-container">
        <div id="navbar">
            <div id="navbar-top">
                <img toultip="Right click to copy website url" href="/" id="navbar-logo" src="{% static 'img/logo.png' %}" alt="skwal.net logo">
                <div onclick="toggleButtons()" id="navbar-menu-button"><i class="fas fa-bars"></i></div>
            </div>
            <div id="navbar-buttons" data-active="false">
                <div href="{% url 'home' %}" class="navbar-button"><i class="fa fa-home"></i><p>Home</p></div> 
                <div href="{% url 'home' %}" class="navbar-button"><i class="fa fa-home"></i><p>Home</p></div>
                <div href="{% url 'home' %}" class="navbar-button"><i class="fa fa-home"></i><p>Home</p></div>
            </div>
        </div>
    </div>

    <div id="page-body-container">
        <div id="page-body">
            <div id="page-content">
                {% block body %}<h1 class="box">Base template</h1>{% endblock body %}
            </div>
            <div id="page-sidebar">
                {% block sidebar %}
                <h1 class="box">Base template</h1>
                {% endblock sidebar %}
            </div>
        </div>
    </div>
    


    <div id="footer">
        <p>© 2018-{% now "Y" %}, Léopold Koprivnik, all rights reserved
        <br>This website is open source and is available on <a href="https://github.com/SkwalExe/skwal-net-v2">GitHub</a></p>
        <div class="flex h-center wrap" style='margin-top:10px;'>
            <a href="/docs">📚 Documentation</a><a href="/about">🤔 About us</a>
            <a href="/cookies">🍪 Cookies policy</a>
            <a href="/privacy">🔒 Privacy policy</a>
            <a href="/tos">📜 Terms of Service</a>
            <a href="/credits-and-thanks">🙏 Credits and thanks</a>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/2fd86e1bdd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/SkwalExe/Toasteur.js@v0.5.0/dist/toasteur.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/SkwalExe/Toultip.js@v0.2.1/dist/toultip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/SkwalExe/MessageBox.js@v0.4.0/dist/messagebox.min.js"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/links.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/prism.min.js' %}"></script>
    
    {% for script in scripts %}
        <script src="/static/js/{{ script }}.js"></script>
    {% endfor %}
</body>

</html>