.flex {
    display: flex;
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.flex.separated>* {
    background: var(--color1);
    padding: 0 10px;
    border-radius: var(--radius);
}

.flex.separated>div {
    padding: 10px !important;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.h-center {
    justify-content: center;
}

.v-center {
    align-items: center;
}

.h-between {
    justify-content: space-between;
}

.break {
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}