:root {
    --color1: #181B23;
    --color2: #272c38;
    --accent-color: #CE6B82;
    --text-color: #fff;
    --red: #E74C3C;
    --blue: #3992D0;
    --green: #2ECC71;
    --cyan: #39fff8;
    --radius: 2px;
    --transition: 200ms;
}