@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
html,
body {
    background-color: var(--color1);
}

body {
    /* Space for the navbar */
    padding-top: 70px;
    /* Make the footer stay at the bottom */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--text-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Poppins", "Roboto", "Noto", sans-serif;
}

#page-body-container {
    /* Used to center the page content */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

#page-body {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#page-content-container {
    display: flex;
    justify-content: center;
}

#page-body[data-small="true"] {
    max-width: 800px;
}

#page-content-container[data-inverse="true"] {
    flex-direction: row-reverse;
}

#page-sidebar {
    min-width: 300px;
    max-width: 300px;
}

#page-content-container:not([data-inverse="true"]) #page-sidebar {
    min-width: 300px;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 20px;
}

#page-content,
#page-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#page-content-container[data-inverse="true"] #page-sidebar {
    padding-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 20px;
}

#page-content {
    width: 100%;
    /* The sidebar is 320px */
    max-width: calc(100% - 320px);
}

@media (max-width: 900px) {
    #page-content-container {
        flex-direction: column !important;
    }
    #page-content-container[data-inverse="true"] {
        flex-direction: column-reverse !important;
    }
    #page-content {
        max-width: 100%;
    }
    #page-sidebar {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-left: none !important;
        border-right: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        min-width: 100%;
        max-width: 100%;
    }
    #page-content-container:not([data-inverse="true"]) #page-sidebar {
        padding-top: 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 20px;
    }
    #page-content-container[data-inverse="true"] #page-sidebar {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 20px;
    }
    #page-body-container {
        padding: 20px;
    }
}