.field.error input {
    border: 2px solid var(--red);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

input {
    border: 1px solid var(--accent-color);
    background-color: var(--color1);
    border-radius: var(--radius);
    color: var(--text-color);
    padding: 5px;
    height: 30px;
    width: 100%;
}

button:hover {
    box-shadow: 0 0 5px var(--color3);
}

button {
    color: var(--text-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    padding: 5px;
    transition-duration: var(--transition);
}