.flex {
    display: flex;
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.flex.separated>* {
    background: var(--color1);
    padding: 0 10px;
    border-radius: var(--radius);
}

.flex.separated>div {
    padding: 10px !important;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.h-center {
    justify-content: center;
}

.v-center {
    align-items: center;
}

.h-between {
    justify-content: space-between;
}

.break {
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}

.outline {
    border-radius: var(--radius);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
}

.box {
    background-color: var(--color2);
    padding: 15px;
    border-radius: var(--radius);
    border: 1px solid var(--border-color);
}

hr.no-margin {
    margin: 0;
}

.arrow::before,
.double-arrow::before {
    color: white;
    text-shadow: 0 0 1px var(--accent-color), 0 0 2px var(--accent-color), 0 0 4px var(--accent-color), 0 0 5px var(--accent-color), 0 0 10px var(--accent-color);
    margin-right: 10px;
}

.arrow::before {
    content: '>';
}

.double-arrow::before {
    content: '>>';
}

.arrow,
.double-arrow {
    display: inline;
}

.box>img {
    max-height: 300px;
    max-width: 100%;
    margin: 15px 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    height: 200px;
    width: 200px;
}

.icon-container img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.icon-container.special {
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 5px var(--red);
}

.icon-container.small {
    height: 30px;
    width: 30px;
}