:root {
    --color1: #1a2234;
    --color2: #1d273b;
    --border-color: #243049;
    --accent-color: #CE6B82;
    --text-color: #fff;
    --red: #E74C3C;
    --blue: #3992D0;
    --green: #2ECC71;
    --cyan: #39fff8;
    --radius: 2px;
    --transition: 200ms;
}